@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

h2 {
  font-weight: bold;
  color: #121212;
}

.btn {
  text-decoration: none;
  font-weight: medium;
  background: rgba(255, 255, 255, 0.87);
  color: #035584;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}

/* Wide screen */
@media screen and (min-width: 950px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  section.about {
    flex-direction: row;
  }
  .about-image-container {
    justify-content: right;
    padding-right: 3rem;
    padding-left: 4rem;
  }
  .about-text-container {
    justify-content: left;
    padding-left: 3rem;
    padding-right: 4rem;
  }
  .about-text {
    font-size: 1.15rem;
  }
  .navbar-list {
    max-width: 40rem;
  }
}
/* Narrow screen */
@media screen and (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  section.about {
    flex-direction: column;
  }
  .about-image-container {
    justify-content: center;
    padding: 0 2rem;
  }
  .about-text-container {
    justify-content: center;
    padding: 0 2rem;
    margin-top: 1rem;
  }
  .about-text {
    font-size: 0.75rem;
  }
  .navbar-list {
    max-width: 30rem;
  }
}
section.landing {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background: #fdf1d7;
}

section.landing div {
  position: absolute;
}

.landing {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sky {
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, #037ccb 0%, #82ccef 100%);
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.sea {
  height: 30%;
  width: 200%;
  left: -50%;
  top: 50%;
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to bottom, rgb(8, 122, 193) 0%, rgb(18, 156, 192) 25%, rgb(42, 212, 229) 50%, rgb(150, 233, 239) 75%, rgb(222, 236, 211) 100%);
  animation: waveanim ease-in-out 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
  overflow: hidden;
}

.seafoam {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, transparent 90%, white 100%);
  animation: seafoamanim ease-in-out 10s;
  animation-iteration-count: infinite;
}

.wet-sand {
  height: 37.5%;
  width: 200%;
  left: -50%;
  top: 50%;
  border-radius: 0 0 50% 50%;
  background: #ecc075;
  box-shadow: 0 10px 10px 0 #ecc075;
  animation: wetsandanim ease-in-out 10s;
  animation-iteration-count: infinite;
}

@keyframes waveanim {
  0% {
    transform: scaleY(1);
  }
  35% {
    transform: scaleY(1.3);
  }
  69% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes wetsandanim {
  0% {
    opacity: 0.2;
  }
  34% {
    opacity: 0.2;
  }
  35% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes seafoamanim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.title-container {
  display: flex;
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 25%;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
}

section.about {
  width: 100%;
  height: 100%;
  background: #fdf1d7;
  display: flex;
  padding-top: 2vh;
  justify-content: center;
}
section.about p {
  color: #121212;
  font-weight: medium;
}

.about-image-container {
  display: flex;
  align-items: center;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  max-width: 30rem;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-text {
  max-width: 30rem;
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

.about-title {
  max-width: 30rem;
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: 100%;
  background: #fdf1d7;
  display: flex;
  padding-top: 2vh;
  padding: 4vh 0;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  height: 100%;
  width: 100%;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
}

.navbar-item, .navbar-bandcamp, .navbar-soundcloud, .navbar-youtube, .navbar-apple, .navbar-spotify, .navbar-tiktok, .navbar-instagram, .navbar-twitter, .navbar-facebook {
  color: #121212;
}

.navbar-facebook:hover {
  color: #4267b2;
}

.navbar-twitter:hover {
  color: #1da1f2;
}

.navbar-instagram:hover {
  color: #e1306c;
}

.navbar-tiktok:hover {
  color: #ff0050;
}

.navbar-spotify:hover {
  color: #1db954;
}

.navbar-apple:hover {
  color: #fc3c44;
}

.navbar-youtube:hover {
  color: #ff0000;
}

.navbar-soundcloud:hover {
  color: #f26f23;
}

.navbar-bandcamp:hover {
  color: #629aa9;
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(170deg) brightness(90%) contrast(100%);
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}
.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}
.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}
.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}/*# sourceMappingURL=styles.css.map */